body {
    min-width: 1200px;
    font-family: 'Roboto', 'Arial Narrow', sans-serif;
    background-color: #849d8f;
    color: #ffffff;
    margin: 0;
    padding: 0;
    position: relative;
}

.container {
    width: 1146px;
    padding: 0 27px;
    margin: 0 auto;
}

.clearfix:after {
    display: table;
    content: '';
    clear: both;
}

.site-wrapper::before,
.site-wrapper::after {
    content: "";
    visibility: hidden;
}

.site-wrapper::before {
    background-image: url("../img/slide2.png");
}

.site-wrapper::after {
    background-image: url("../img/slide3.png");
}

.button-red {
    display: inline-block;
    vertical-align: top;
    font-family: 'Roboto', 'Arial Narrow', sans-serif;
    text-decoration: none;
    font-size: 18px;
    line-height: 46px;
    text-align: center;
    text-overflow: ellipsis;
    height: 46px;
    max-width: 475px;
    white-space: nowrap;
    overflow: hidden;
    color: #ffffff;
    padding: 0 22px;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#e74a35), to(#f26843));
    background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
    -webkit-box-shadow: 0px 2px 2px 0px #ac1000;
    box-shadow: 0px 2px 2px 0px #ac1000;
    opacity: 0.988;
    border-radius: 25px;
    border: none;
    cursor: pointer;
}

.button-red:hover {
    background-image: -webkit-gradient(linear, left top, right top, from(#f07960), to(#f07961));
    background-image: linear-gradient(90deg, #f07960 0%, #f07961 100%);
    -webkit-box-shadow: 0px 1px 2px 0px #ac1000;
    box-shadow: 0px 1px 2px 0px #ac1000;
}

.button-red:active {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e74a35), to(#f26843));
    background-image: linear-gradient(to bottom, #e74a35 0%, #f26843 100%);
}

.button-red:focus {
    outline: none;
}

.link-light {
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.2);
    word-wrap: break-word;
    max-width: 100%;
}

.link-light span {
    color: #ffffff;
}

.link-light:hover {
    color: rgba(255, 188, 158, 0.2);
}

.link-light:hover span {
    color: #ffbc9e;
}

.link-light:active {
    color: rgba(255, 188, 158, 0.2);
}

.link-light:active span {
    color: #ffbc9e;
}

.link-dark {
    text-decoration: underline;
    color: rgba(50, 50, 50, 0.3);
    word-wrap: break-word;
    max-width: 100%;
}

.link-dark span {
    color: #323232;
}

.link-dark:hover {
    color: rgba(232, 77, 55, 0.3);
}

.link-dark:hover span {
    color: #e84d37;
}

.link-dark:active {
    color: rgba(232, 77, 55, 0.3);
}

.link-dark:active span {
    color: #e84d37;
}

.form-wrapper {
    position: relative;
}

.form-wrapper label {
    position: absolute;
    z-index: 2;
    left: 14px;
    top: 11px;
    font-size: 16px;
    line-height: 24px;
    color: #999999;
    font-weight: 400;
    overflow: hidden;
    width: 90%;
    white-space: nowrap;
    text-overflow: ellipsis;
    pointer-events: none;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
}

.input-text {
    position: relative;
    display: inline-block;
    vertical-align: top;
    font-family: 'Roboto', 'Arial Narrow', sans-serif;
    font-size: 16px;
    line-height: 44px;
    font-weight: 700;
    color: #323232;
    width: 100%;
    height: 44px;
    padding: 0 14px;
    border-radius: 5px;
    border: 1px solid #d3d3d2;
    background-color: #ffffff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.input-text.filled {
    border: 1px solid #d3d3d2;
}

.input-text.filled + label {
    font-size: 11px;
    line-height: 16px;
    color: #999999;
    outline: none;
    -webkit-transform: translateY(-27px);
    transform: translateY(-27px);
    outline: none;
}

.input-text:hover {
    border: 2px solid #c7c6c5;
    padding: 0 13px;
}

.input-text:focus {
    outline: none;
    border: 2px solid #8fbdec;
    padding: 0 13px;
}

.input-text:focus + label {
    font-size: 11px;
    line-height: 13px;
    color: #5b9ddf;
    -webkit-transform: translateY(-26px);
    transform: translateY(-26px);
}

.main-header {
    position: relative;
    margin-bottom: 10px;
    padding-top: 10px;
    z-index: 2;
}

.main-header .logo {
    display: inline-block;
    vertical-align: middle;
}

.main-navigation {
    display: inline-block;
    vertical-align: top;
    padding-top: 14px;
    margin-left: 5px;
    max-width: 690px;
}

.main-navigation ul {
    list-style: none;
    font-size: 0;
}

.main-navigation-menu {
    padding: 0;
    margin: 0;
}

.main-navigation-menu > li {
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.main-navigation-menu a {
    position: relative;
    display: inline-block;
    vertical-align: top;
    height: 32px;
    font-size: 16px;
    line-height: 32px;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    color: #ffffff;
    padding: 0 14px;
    border-radius: 15px;
}

.main-navigation-menu a:after {
    position: absolute;
    content: '';
    bottom: 7px;
    right: 14px;
    left: 14px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
}

.main-navigation-menu a:hover {
    background-color: #f7f6f3;
    color: #333333;
}

.main-navigation-submenu {
    position: absolute;
    border-radius: 5px;
    background-color: #f8f7f4;
    -webkit-box-shadow: 0px 14px 36px 0px rgba(0, 0, 0, 0.55);
    box-shadow: 0px 14px 36px 0px rgba(0, 0, 0, 0.55);
    padding: 5px 0 7px;
    left: -7px;
    top: 36px;
    width: 143px;
    display: none;
    z-index: 2;
}

.main-navigation-item {
    padding-bottom: 20px;
}

.main-navigation-item:hover a {
    background-color: #f7f6f3;
    color: #333333;
}

.main-navigation-item:hover .main-navigation-submenu,
.main-navigation-submenu:hover {
    display: block;
}

.main-navigation-item > a:active {
    background-color: #f8f7f4;
    -webkit-box-shadow: inset 0 2px 1px 0px #696969;
    box-shadow: inset 0 2px 1px 0px #696969;
}

.main-navigation-item.active > a {
    color: #ffffff;
    background-color: #d07058;
}

.main-navigation-item.active > a:after {
    display: none;
}

.main-navigation-submenu a {
    display: inline-block;
    width: 100%;
    height: auto;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #323232;
    padding: 8px 5px 7px 22px;
    border-radius: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
}

.main-navigation-submenu a:after {
    display: none;
}

.main-navigation-submenu .title {
    position: relative;
    padding-bottom: 12px;
    padding-top: 8px;
    margin-bottom: 1px;
}

.main-navigation-submenu .title:before {
    position: absolute;
    content: '';
    bottom: 0px;
    right: 8px;
    left: 8px;
    height: 1px;
    background-color: #d1d0ce;
}

.main-navigation-submenu a:hover {
    background-color: #fbded7;
}

.main-navigation-submenu a:active {
    background-color: #f6b5a5;
}

.main-navigation-submenu a.active {
    background-color: #d07058;
    color: #ffffff;
}

.user-block {
    float: right;
}

.main-search {
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding: 46px 32px 14px 0;
    margin-right: 5px;
}

.main-search:after {
    position: absolute;
    content: '';
    top: 13px;
    left: 0;
    z-index: 1;
    display: inline-block;
    vertical-align: top;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.2) url("../img/spritemap.png") -29px -194px no-repeat;
}

.main-search form {
    position: absolute;
    right: 0;
    top: 52px;
    z-index: 1;
    width: 340px;
    padding: 20px 15px;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #f8f7f4;
    -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    display: none;
}

.main-search:hover form {
    display: block;
}

.main-search:hover:after {
    background: #f8f7f4 url("../img/spritemap.png") 8px -194px no-repeat;
}

.login {
    display: inline-block;
    vertical-align: top;
    position: relative;
    padding: 14px 0 20px;
    margin-right: 6px;
}

.login-link {
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    font-size: 14px;
    line-height: 32px;
    font-weight: 500;
    color: #ffffff;
    height: 32px;
    width: 98px;
    padding-left: 45px;
    padding-right: 15px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.login-link:before {
    position: absolute;
    content: '';
    z-index: 1;
    top: 5px;
    left: 18px;
    width: 21px;
    height: 21px;
    background: transparent url("../img/spritemap.png") -219px -79px no-repeat;
}

.login-link:hover {
    background-color: white;
    color: #323232;
}

.login-link:hover:before {
    background: transparent url("../img/spritemap.png") -219px -118px no-repeat;
}

.login:hover .login-link {
    background-color: white;
    color: #323232;
}

.login:hover .login-link:before {
    background: transparent url("../img/spritemap.png") -219px -118px no-repeat;
}

.login:hover form {
    display: block;
}

.login form {
    position: absolute;
    z-index: 1;
    right: -2px;
    top: 52px;
    width: 277px;
    padding: 20px;
    background-color: #f8f7f4;
    border-radius: 5px;
    -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: none;
}

.login-helpers {
    display: inline-block;
    vertical-align: top;
    padding-top: 2px;
    margin-left: 13px;
    width: 120px;
}

.login input[name="login-send"] {
    width: 100px;
    max-width: 100px;
}

.login .form-wrapper {
    margin-bottom: 19px;
}

.login .form-wrapper:last-of-type {
    margin-bottom: 0;
}

.login .link-dark {
    float: left;
    clear: right;
    font-size: 13px;
    line-height: 20px;
}

.cart {
    display: inline-block;
    vertical-align: top;
    position: relative;
    padding: 14px 0 20px;
}

.cart-link {
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    font-size: 14px;
    line-height: 32px;
    font-weight: 500;
    color: #ffffff;
    height: 32px;
    padding-left: 45px;
    padding-right: 10px;
    border-radius: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 118px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.2);
}

.cart-link:before {
    position: absolute;
    content: '';
    z-index: 1;
    top: 6px;
    left: 16px;
    width: 21px;
    height: 20px;
    background: transparent url("../img/spritemap.png") -218px 0px no-repeat;
}

.cart:hover .cart-link {
    background-color: white;
    color: #323232;
}

.cart:hover .cart-link:before {
    background: transparent url("../img/spritemap.png") -156px -150px no-repeat;
}

.cart.not-empty .cart-link,
.cart.not-empty .cart-link:hover {
    background-color: white;
    color: #323232;
}

.cart.not-empty .cart-link:before,
.cart.not-empty .cart-link:hover:before {
    background: transparent url("../img/spritemap.png") -156px -150px no-repeat;
}

.cart.not-empty:hover .cart-popup {
    display: block;
}

.cart-popup {
    position: absolute;
    right: 0;
    top: 52px;
    z-index: 2;
    width: 540px;
    padding: 20px 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #f8f7f4;
    color: #323232;
    border-radius: 5px;
    -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    display: none;
}

.cart-popup ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
    border-bottom: 1px solid #cacac7;
}

.cart-popup li {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    margin-bottom: 20px;
}

.cart-item .delete {
    display: inline-block;
    vertical-align: top;
    width: 11px;
    height: 11px;
    cursor: pointer;
    margin-right: 15px;
    margin-top: 10px;
    background: transparent url("../img/spritemap.png") -109px -202px no-repeat;
}

.cart-item-img {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    margin-right: 13px;
}

.cart-item-title {
    display: inline-block;
    vertical-align: top;
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    width: 217px;
    margin-right: 20px;
    padding-top: 10px;
    word-wrap: break-word;
}

.cart-item-quantity {
    display: inline-block;
    vertical-align: top;
    font-size: 13px;
    line-height: 16px;
    width: 105px;
    margin-right: 10px;
    padding-top: 10px;
    word-wrap: break-word;
}

.cart-item-quantity span {
    color: #999999;
}

.cart-item-price {
    display: inline-block;
    vertical-align: top;
    font-size: 13px;
    line-height: 16px;
    width: 67px;
    padding-top: 10px;
    word-wrap: break-word;
}

.cart .total {
    text-align: right;
    font-size: 15px;
    line-height: 18px;
    font-weight: 700;
    margin: 15px 0;
}

.cart .button-red {
    float: right;
}

.mode {
    float: right;
    text-align: right;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    width: 180px;
    word-wrap: break-word;
}

.mode p {
    margin-top: 0;
    margin-bottom: 0;
}

.mode span {
    font-size: 22px;
    line-height: 24px;
}

.main-page {
    position: relative;
    z-index: 2;
}

body input[name="toggle"] {
    display: none;
}

.slider {
    position: relative;
    width: 100%;
    padding-top: 265px;
    z-index: 1;
    margin-bottom: 43px;
}

.slider .container {
    position: relative;
}

.slider-item {
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: none;
}

.slider-item h2 {
    width: 700px;
    margin: 0 auto 30px;
    font-size: 60px;
    line-height: 60px;
    font-weight: 700;
}

.slider .button-red {
    font-size: 32px;
    line-height: 62px;
    height: 62px;
    font-weight: 700;
    max-width: 560px;
    border-radius: 30px;
    padding: 0 40px;
}

.slider-controls {
    position: absolute;
    bottom: 20px;
    left: 0;
    z-index: 20;
    width: 1146px;
    padding: 0 27px;
    margin: 0 auto;
}

.slider-controls label {
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: 2px solid #ffffff;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: transparent;
    margin-right: 5px;
    cursor: pointer;
}

.slider-controls label:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

#btn-1:checked ~ .site-wrapper .slider-controls label[for="btn-1"],
#btn-2:checked ~ .site-wrapper .slider-controls label[for="btn-2"],
#btn-3:checked ~ .site-wrapper .slider-controls label[for="btn-3"] {
    background-color: #ffffff;
}

#btn-1:checked ~ .site-wrapper {
    background: #849d8f url("../img/slide1.png") center top no-repeat;
}

#btn-2:checked ~ .site-wrapper {
    background: #8996a6 url("../img/slide2.png") center top no-repeat;
}

#btn-3:checked ~ .site-wrapper {
    background: #9d8b84 url("../img/slide3.png") center top no-repeat;
}

#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
    display: block;
}

.actions {
    margin-bottom: 30px;
}

.actions section {
    width: 560px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    border-radius: 15px;
    padding: 16px 23px 24px 18px;
    margin-bottom: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.actions section:nth-child(even) {
    float: right;
}

.actions section:nth-child(odd) {
    float: left;
}

.actions section:first-child {
    background: #6e0002 url("../img/bg-raspberries.jpg") left top repeat;
}

.actions section:nth-child(2) {
    background: #341b10 url("../img/bg-chocolate.jpg") left top repeat;
}

.actions h2 {
    font-size: 35px;
    line-height: 41px;
    margin-top: 0;
    margin-bottom: 15px;
}

.actions p {
    margin-top: 0;
    margin-bottom: 0;
}

.actions .more {
    float: right;
    margin-top: 43px;
}

.products {
    font-size: 0;
}

.products-item {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 267px;
    margin-right: 25px;
    margin-bottom: 39px;
    z-index: 1;
}

.products-item:nth-child(4n) {
    margin-right: 0;
}

.products-item:hover {
    z-index: 2;
}

.products-item:hover .product-preview {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
}

.products-item.hit:after {
    position: absolute;
    content: '';
    top: 2px;
    left: 0px;
    z-index: 3;
    width: 61px;
    height: 61px;
    border-radius: 50%;
    background: transparent url("../img/spritemap.png") 0px 0px no-repeat;
}

.products img {
    border-radius: 50%;
    margin-bottom: 15px;
    max-width: 100%;
    position: relative;
    z-index: 2;
}

.products p {
    margin-bottom: 0;
}

.price {
    position: relative;
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
    margin-top: -72px;
    margin-left: 1px;
    max-width: 100%;
    word-wrap: break-word;
    z-index: 3;
}

.price span {
    font-size: 30px;
}

.product-title {
    display: block;
    position: relative;
    z-index: 2;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    text-align: center;
    margin-top: 20px;
}

.product-preview {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: end;
    -webkit-box-align: end;
    align-items: flex-end;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -80px;
    padding: 10px 10px 15px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    text-align: center;
    display: none;
}

.about {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    padding: 3px 17px 17px 20px;
    color: #323232;
    border-radius: 15px;
    margin-bottom: 40px;
    background: #f1e7d2 url("../img/bg-waffle.jpg") left top repeat;
}

.about h2 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
    margin-bottom: 7px;
}

.about ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0;
}

.about li {
    position: relative;
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    line-height: 22px;
    width: 540px;
    padding-left: 57px;
    padding-top: 15px;
    margin-bottom: 7px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.about li:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 49px;
    height: 49px;
    background-image: url("../img/spritemap.png");
}

.about li:first-child:after {
    background-position: -81px 0px;
}

.about li:nth-child(2) {
    margin-left: 27px;
}

.about li:nth-child(2):after {
    background-position: -150px 0px;
}

.about li:nth-child(3):after {
    background-position: 0px -81px;
}

.about li:nth-child(4) {
    margin-left: 27px;
}

.about li:nth-child(4):after {
    background-position: -69px -81px;
}

.news {
    margin-bottom: 30px;
}

.news section {
    width: 560px;
    border-radius: 15px;
    margin-bottom: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.news section:nth-child(even) {
    float: right;
}

.news section:nth-child(odd) {
    float: left;
}

.news section:first-child {
    padding: 16px 20px 24px;
    background: #ffffff url("../img/bg-new.jpg") right top no-repeat;
}

.news h2 {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    color: #323232;
    margin-top: 7px;
    margin-bottom: 4px;
}

.news a {
    display: inline-block;
    vertical-align: top;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: #323232;
    max-width: 285px;
    margin-bottom: 57px;
}

.news p {
    margin-top: 0;
    margin-bottom: 0;
}

.news-feedback {
    background: #f8f7f4 url("../img/bg-feedback.png") left top repeat;
    padding: 5px;
}

.news-feedback form {
    padding: 28px 20px 33px 20px;
    border-radius: 15px;
    background-color: #f8f7f4;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #5a5a5a;
}

.news-feedback p {
    margin-bottom: 37px;
}

.news-feedback input[name="news-email"] {
    float: left;
    width: 368px;
}

.news-feedback input[name="news-send"] {
    float: right;
}

.map {
    position: relative;
    height: 430px;
    margin-bottom: 18px;
    background: transparent url("../img/bg-map.jpg") center top no-repeat;
}

.map-content {
    position: relative;
    z-index: 1;
}

.map-content iframe {
    width: 100%;
}

.map-jaw {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
}

.map .container {
    position: relative;
    height: 100%;
}

.map-description {
    position: absolute;
    z-index: 1;
    top: 63px;
    right: 30px;
    width: 300px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    padding: 30px 25px;
    border-radius: 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #ffffff;
    color: #323232;
}

.map-description p {
    margin-top: 0;
    margin-bottom: 16px;
}

.map-description b {
    display: inline-block;
    padding: 3px 0 5px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
}

.map-description .button-red {
    margin-top: 4px;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.footer {
    position: relative;
    z-index: 2;
}

.footer-navigation {
    float: left;
    width: 450px;
    padding-top: 15px;
}

.footer-navigation ul {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 268px;
}

.footer-navigation ul:first-of-type {
    width: 160px;
    padding-left: 22px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.footer-navigation li {
    margin-bottom: 4px;
}

.footer-navigation-link {
    font-size: 13px;
    line-height: 18px;
}

.footer-navigation-link b {
    font-weight: 700;
}

.footer-navigation .heart {
    position: relative;
}

.footer-navigation .heart:before {
    position: absolute;
    content: '';
    top: 2px;
    left: -22px;
    width: 15px;
    height: 13px;
    background: transparent url("../img/spritemap.png") -74px -202px no-repeat;
}

.social {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
    float: left;
    width: 267px;
    margin-right: 134px;
    padding-top: 17px;
}

.social li {
    display: inline-block;
    vertical-align: top;
    margin-right: 12px;
}

.social-link {
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    text-indent: -9999px;
    width: 38px;
    height: 38px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid #c2cec7;
    border-radius: 50%;
    background-repeat: no-repeat;
    opacity: 0.8;
    background-image: url("../img/spritemap.png");
}

.social-link-tw {
    background-position: -52px -150px;
}

.social-link-insta {
    background-position: -150px -69px;
}

.social-link-vk {
    background-position: 0px -150px;
}

.social-link-fb {
    background-position: -104px -150px;
}

.social-link:hover {
    opacity: 1;
    border-color: #dae2de;
}

.social-link:active {
    opacity: 0.9;
    border-color: #dae2de;
    -webkit-box-shadow: inset 0px 2px 0px 1px #888888;
    box-shadow: inset 0px 2px 0px 1px #888888;
}

.main-catalog {
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 19px;
}

.main-catalog:after {
    position: absolute;
    content: '';
    left: 27px;
    right: 27px;
    height: 1px;
    bottom: 0px;
    background-color: rgba(255, 255, 255, 0.3);
}

.main-catalog .products {
    margin-bottom: 40px;
}

.copyright {
    width: 190px;
    float: right;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
}

.copyright p {
    margin-top: 0;
}

.breadcrumps {
    font-size: 0;
    padding-left: 0;
    margin-top: 20px;
}

.breadcrumps li {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
}

.breadcrumps li:after {
    position: absolute;
    content: '»';
    top: 0;
    right: -17px;
    width: 8px;
    height: 8px;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
}

.breadcrumps li:last-child:after {
    display: none;
}

h1 {
    margin-top: 7px;
    font-size: 35px;
    line-height: 41px;
    font-weight: 700;
    margin-bottom: 25px;
}

.pagination {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0;
    text-align: right;
    margin-bottom: 10px;
}

.pagination li {
    display: inline-block;
    vertical-align: top;
    margin-right: 1px;
}

.pagination a {
    display: inline-block;
    vertical-align: top;
}

.pagination a.page {
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
    height: 28px;
    width: 28px;
    border-radius: 50%;
}

.pagination a.page.active {
    background-color: #ffffff;
    color: #323232;
}

.pagination a.page.active:hover {
    background-color: #ffffff;
    color: #323232;
}

.pagination a.page:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.pagination a.page:active {
    background-color: #ffffff;
    color: #323232;
}

.pagination a.next,
.pagination a.prev {
    position: relative;
    width: 22px;
    height: 28px;
}

.pagination a.next:after,
.pagination a.prev:after {
    position: absolute;
    content: '';
    left: 0px;
    right: 0;
    top: 9px;
    width: 9px;
    height: 9px;
    border-top: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
}

.pagination a.next:after {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    left: auto;
    right: 0;
}

.pagination a.prev:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.pagination span {
    position: relative;
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
    text-align: center;
    height: 28px;
    width: 28px;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.2);
}

.pagination span:after {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: 9px;
    margin-right: auto;
    margin-left: auto;
    width: 7px;
    height: 7px;
    border-top: 2px solid rgba(255, 255, 255, 0.2);
    border-left: 2px solid rgba(255, 255, 255, 0.2);
}

.pagination span.prev:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.filter-wrap {
    padding: 10px 16px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.2);
}

.filter-label {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 6px;
    padding-left: 15px;
}

.input-checkbox {
    display: none;
}

.input-checkbox + label {
    position: relative;
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    padding-left: 30px;
    margin-right: 23px;
}

.input-checkbox + label:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0px;
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: transparent;
    cursor: pointer;
}

.input-checkbox + label:hover:before {
    border-width: 2px;
}

.input-checkbox + label:last-child {
    margin-right: 0;
}

.input-checkbox:checked + label:before {
    background-image: url("../img/spritemap.png");
    background-position: -219px -41px;
    background-repeat: no-repeat;
}

.input-checkbox:checked + label:hover:before {
    background-position: -220px -42px;
}

.input-checkbox:disabled + label {
    pointer-events: none;
}

.input-checkbox:disabled + label:before {
    opacity: 0.5;
}

.input-radio {
    display: none;
}

.input-radio + label {
    position: relative;
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    padding-left: 30px;
    margin-right: 15px;
}

.input-radio + label:before {
    position: absolute;
    content: '';
    top: -2px;
    left: 0px;
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: transparent;
    cursor: pointer;
}

.input-radio + label:hover:before {
    border-width: 2px;
}

.input-radio + label:last-child {
    margin-right: 0;
}

.input-radio:checked + label:after {
    position: absolute;
    content: '';
    top: 3px;
    left: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ffffff;
}

.filter-row {
    margin-bottom: 13px;
}

.filter-select {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-right: 12px;
}

.filter-select:after {
    position: absolute;
    content: '';
    bottom: 16px;
    right: 13px;
    border: 5px solid transparent;
    border-top-color: #ffffff;
    border-bottom: 0;
    z-index: 1;
}

.filter-select:hover:after {
    border-top-color: #333333;
}

.filter-select:hover select {
    background-color: #ffffff;
    color: #333333;
}

select {
    width: 192px;
    height: 36px;
    font-family: 'Roboto', 'Arial Narrow', sans-serif;
    line-height: 36px;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    border-radius: 20px;
    border: none;
    outline: none;
    padding-left: 16px;
    padding-right: 23px;
    -webkit-appearance: none;
    background-image: none;
    background-color: rgba(255, 255, 255, 0.2);
    /* for FF */
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    /* for IE */
    -ms-appearance: none;
    appearance: none;
    text-transform: lowercase;
}

select::-ms-expand {
    display: none;
}

option {
    font-size: 14px;
    line-height: 16px;
    color: #323232;
}

.filter-range {
    display: inline-block;
    vertical-align: top;
    width: 220px;
    margin-right: 10px;
}

.range-controls {
    position: relative;
    height: 20px;
    padding-top: 16px;
    padding-right: 16px;
    padding-left: 16px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.2);
}

.range-controls .scale {
    height: 4px;
    background-color: #d1dad3;
}

.range-controls .bar {
    width: 70%;
    height: 4px;
    background-color: #f8f7f4;
}

.range-controls .toggle {
    position: absolute;
    top: 8px;
    left: 0px;
    width: 4px;
    height: 4px;
    cursor: pointer;
    border: 8px solid #fff;
    border-radius: 50%;
    background: #ffffff;
    -webkit-box-shadow: 0 2px 0px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 0px 0px rgba(0, 0, 0, 0.1);
}

.range-controls .toggle-min {
    left: 36px;
}

.range-controls .toggle-max {
    left: 132px;
}

.filter-fatiness {
    display: inline-block;
    vertical-align: top;
}

.filter-savor {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}

.filter-savor .filter-wrap {
    font-size: 0;
    padding-right: 20px;
}

.filter-btn {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
    height: 36px;
    width: 144px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid #ffffff;
    border-radius: 20px;
    margin-top: 23px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    outline: none;
}

.filter-btn:hover {
    background-color: #ffffff;
    color: #323232;
    font-weight: 500;
}

.filter-btn:active {
    -webkit-box-shadow: inset 0px 2px 0px 1px #696969;
    box-shadow: inset 0px 2px 0px 1px #696969;
    border: none;
    background-color: #eaeaea;
}

.filter-form {
    margin-bottom: 39px;
}

.feedback {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
}

.feedback-form {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    z-index: 1;
    padding: 20px 25px 25px;
    width: 480px;
    margin-left: auto;
    margin-right: auto;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    background-color: #f8f7f4;
    border-radius: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.feedback-form h2 {
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 20px;
    color: #323232;
    padding-right: 20px;
}

.feedback-form .form-wrapper {
    margin-bottom: 20px;
}

.feedback-form .form-wrapper:last-child {
    margin-bottom: 0;
    text-align: right;
}

.feedback-form .close {
    position: absolute;
    content: '';
    top: 20px;
    right: 25px;
    width: 18px;
    height: 17px;
    background-image: url("../img/spritemap.png");
    background-position: -218px -158px;
    cursor: pointer;
}

.feedback.show {
    display: block;
}

.feedback.show form {
    -webkit-animation: bounce 0.6s;
    animation: bounce 0.6s;
}

.feedback.error form {
    -webkit-animation: shake 0.6s;
    animation: shake 0.6s;
}

@-webkit-keyframes bounce {
    0% {
        -webkit-transform: translateY(-2000px);
        transform: translateY(-2000px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes bounce {
    0% {
        -webkit-transform: translateY(-2000px);
        transform: translateY(-2000px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-webkit-keyframes shake {
    0%,
    100% {
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translate(-10px, -50%);
        transform: translate(-10px, -50%);
    }
    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translate(10px, -50%);
        transform: translate(10px, -50%);
    }
}

@keyframes shake {
    0%,
    100% {
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translate(-10px, -50%);
        transform: translate(-10px, -50%);
    }
    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translate(10px, -50%);
        transform: translate(10px, -50%);
    }
}

.form-textarea {
    height: 155px;
    max-height: 155px;
    line-height: 24px;
    max-width: 100%;
    width: 100%;
}
